body{
    background-color: white;
}
h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;

}
.main {
    color: purple;
    font-weight: 800;

}
.sub {
    color: green;
}

h2 {
    color: blue;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: black;
    font-size: 18px;
    line-height: 1.5;
}
div {
    border: 2px solid black;
    padding: 8px;
    margin: 10px;
}

ol li {
    text-align: left;
    font-size: 30px;
    font-style: italic;
    font-variant: small-caps;

}

/* My List Color Add by me  */
ol li {
    color: darkred;
}
 
.color-list li:nth-child(1) { color: blue;}
.color-list li:nth-child(2) { color: red;}
.color-list li:nth-child(3) { color: green;}
.color-list li:nth-child(4) { color: brown;}
.color-list li:nth-child(5) { color: fuchsia;}
