.page-title {
    text-align: center;
    color: red;
    font-weight: bold;
}
/* Movie card container  */
.movie-card {
    border: 2px solid #555;
    padding: 8px;
    margin: 15px;
    background-color: #f0f0f0;
    text-align: center;
    width: normal;
    
}
/* Movie Name */
.movie-name {
    color: blue;
    font-weight: bold;
}
/* Movie Desk  */
.movie-desc {
    color: #333;
}
