body {
    font-family: Arial, Helvetica, sans-serif;
}
.name {
    text-align: center;
}
.role {
    text-align: center;
    color: gray;
}
.card {
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
}